body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  background-color: #000;
  position: relative;
  justify-content: center;
  margin: 0;
}

h1 {
  color: white;
  margin-bottom: 32px;
  font-size: 80px;
}

.game {
  background-image: url("../assets/scene.jpg");
  display: flex;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 1280px;
  height: 720px;
  position: relative;
  margin-bottom: 100px;
  margin-top: -50px;
}

.character {
  position: absolute;
  width: 75px;
}

.music-control {
  width: 50px;
  top: 48px;
  right: 48px;
  cursor: pointer;
  position: absolute;
}

#reset {
  display: none;
  width: 100px;
  height: 100px;
  cursor: pointer;
  position: absolute;
  z-index: 3;
}

#reset:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

#ash {
  right: 2px;
  z-index: 1;
}

#charmander {
  display: none;
  right: 175px;
  top: 55px;
  width: 65px;
}

#pikachu {
  display: none;
  right: 600px;
  top: 330px;
}

#zubat {
  display: none;
  right: 90px;
  top: 550px;
}
