body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  background-color: #000;
  position: relative;
  justify-content: center;
}

h1 {
  color: white;
  font-size: 30px;
  top: 10px;
  left: 1400px;
  position: absolute;
}

.game {
  background-image: url("../assets/scene.jpg");
  display: flex;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 76rem;
  height: 45.2rem;
  position: relative;
  margin: 6px 0;
}

.character {
  position: absolute;
  width: 75px;
}

.music-control {
  width: 50px;
  top: 5px;
  right: 25px;
  cursor: pointer;
  position: absolute;
}

#reset {
  display: none;
  width: 100px;
  height: 100px;
  cursor: pointer;
  position: absolute;
  z-index: 3;
}

#reset:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

#ash {
  right: 2px;
  z-index: 1;
}

#charmander {
  display: none;
  right: 175px;
  top: 55px;
  width: 65px;
}

#pikachu {
  display: none;
  right: 600px;
  top: 330px;
}

#zubat {
  display: none;
  right: 90px;
  top: 550px;
}

@media (min-width: 1600px) {
  .game {
    margin: 115px 0 5px 0;
  }

  h1 {
    font-size: 50px;
    left: 1650px;
    top: 30px;
  }

  .music-control {
    top: 35px;
    right: 90px;
    cursor: pointer;
    position: absolute;
  }
}
